<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54141366462-vl4nsqardq4ujqsgl0eprmm1kjgo6dk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54141366462-vl4nsqardq4ujqsgl0eprmm1kjgo6dk7</string>
	<key>API_KEY</key>
	<string>AIzaSyCO6Cn704Q4zAv9W4yTowLbOCJG4Qt7gLk</string>
	<key>GCM_SENDER_ID</key>
	<string>54141366462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ceva.firstmonieApp</string>
	<key>PROJECT_ID</key>
	<string>firstmonie-app</string>
	<key>STORAGE_BUCKET</key>
	<string>firstmonie-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54141366462:ios:4a2a76c292987ba54aeeef</string>
</dict>
</plist>